<!DOCTYPE html>
<html>
  <head>
    <title>ArticleBase</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/dependencies/bootstrap/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/dependencies/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/dependencies/bootstrap/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/dependencies/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/dependencies/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/dependencies/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>

      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/">ArticleBase</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/articles/list">Articles <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/articles/add">Add Article</a>
            </li>
          </ul>
        </div>
      </nav>
    <div class="container">
      <%- body %> 
    </div>


    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/dependencies/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/dependencies/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/dependencies/bootstrap/js/bootstrap.js"></script>
    <script src="/dependencies/bootstrap/js/bootstrap.min.js"></script>
    <script src="/dependencies/jquery.js"></script>
    <script src="/dependencies/popper.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
